<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
    <div class="row d-flex justify-content-center">
        <form action="#" method="post" novalidate="novalidate" style="min-width: 300px;" th:action="@{/save}"
              th:object="${sinhVienModel}">
            <h5 class="text-center">Sinh Vien form</h5>

            <input th:field="*{id}" type="hidden"/>

            <div class="form-group">
                <input class="form-control" placeholder="Ten" th:errorclass="field-error"
                       th:field="*{ten}" type="text"/>
                <em th:errors="*{ten}" th:if="${#fields.hasErrors('ten')}"></em>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Tuoi" th:field="*{tuoi}"
                       type="text"/>
            </div>

            <div class="form-group">
                <input class="form-control" placeholder="Que Quan" th:field="*{queQuan}"
                       type="text"/>
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>